@model NBSTimeReporting.DWorkin.Models.DataModels.DWWLStatus

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="Badge">
    <h4>DWWLStatus</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DWWLStatusName" class="control-label"></label>
                    <input asp-for="DWWLStatusName" class="form-control" />
                    <span asp-validation-for="DWWLStatusName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-sm btn-success" asp-action="ListDWWLStatuses">Back to Dworkin WL Statuses</a>
    </div>
</div>