
@{
    ViewData["Title"] = "Accounting";
}

<h1>Accounting - All accountingtools !</h1>


<h1>Accounts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="ListAccounts">Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="ListTransactionsAccountEva">Transactions in Account: 13460604425 *Eva Saglind</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="ListTransactionsAccountPer">Transactions in Account: 429 711 301*BUFFERT*Per Orest</a>
    </li>
</ul>
<h1>Transactions</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="ListTransactions">Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TransactionTypes" asp-action="ListTransactionTypes">Transaction Types</a>
    </li>
</ul>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeAccounts" asp-action="ListEmployeeAccounts">Employee Accounts</a>
    </li>
</ul>

<h1>Account Statuses</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AccountStatus" asp-action="ListAccountStatuses">Account Statuses</a>
    </li>
</ul>

<h1>Sallaryreports All</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SallaryReports" asp-action="ListSallaryReports">Sallary Reports All</a>
    </li>
</ul>
<h1>Sallaryreports Employee : Per Orest</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SallaryReports" asp-action="ListSallaryReportsPO">Sallaryreports Employee : Per Orest</a>
    </li>
</ul>
<h1>Sallaryreports Employee : Per Orest</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TimeReports" asp-action="Index">TimeReports !</a>
    </li>
</ul>



<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Index">Home</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Admin">Admin</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Ticketing">Ticketing</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Reporting">Reporting</a>