
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin - All admintools !</h1>

<h3>Companies</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Home" asp-action="Companies">Companies</a>
    </li>
</ul>
<h3>People</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Home" asp-action="People">People</a>
    </li>
</ul>
<h3>Sites</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Home" asp-action="Sites">Sites</a>
    </li>
</ul>
<h4>------------------</h4>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Index">Home</a>