
@{
    ViewData["Title"] = "NBS";
}

<h1>NBS - Netello Business Solutions</h1>

<h3>NBS - Inventory</h3>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="NBSAssets" asp-action="ListNBSAssets">NBS Assets inventory</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Home" asp-controller="" asp-action="NetelloAB">Netello AB</a>
    </li>
</ul>

