
@{
    ViewData["Title"] = "NetelloAB";
}

<h1>Netello AB</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="NetelloInvoices" asp-action="ListNetelloInvoices">Netello AB - Invoices</a>
    </li>
</ul>


