
@{
    ViewData["Title"] = "Planner";
}

<h1>Planner</h1>

<h4>Activities</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="ListActivities">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ActivityStatus" asp-action="ListActivityStatuses">Activity Statuses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ActivityTypes" asp-action="ListActivityTypes">Activity Types</a>
    </li>
</ul>

