
@{
    ViewData["Title"] = "Reporting";
}

<h1>Reporting - All reportingtools !</h1>

<h1>Reports</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="ListReports">Reports</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="ListReportsPO">Reports Emplyee = Per Orest</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="ListReportsJM">Reports Emplyee = Jones Moti</a>
    </li>
</ul>

<h1>Report Statuses</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ReportStatus" asp-action="ListReportStatuses">Report Statuses</a>
    </li>
</ul>

<h1>Report Types</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ReportTypes" asp-action="ListReportTypes">Report Types</a>
    </li>
</ul>
<h4>------------------</h4>
<h1>Surveys</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Surveys" asp-action="ListSurveys">Surveys</a>
    </li>
</ul>

<h1>Servey Statuses</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SurveyStatus" asp-action="ListSurveyStatuses">Survey Statuses</a>
    </li>
</ul>

<h1>Servey Types</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SurveyTypes" asp-action="ListSurveyTypes">Survey Types</a>
    </li>
</ul>
<h4>------------------</h4>
<h1>Weekly Timereports</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WeeklyTimeReports" asp-action="ListWeeklyTimeReports">Weekly Timereports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WeeklyTimeReports" asp-action="ListWeeklyTimeReportsPO">Weekly Timereports: Per Orest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WeeklyTimeReports" asp-action="ListWeeklyTimeReportsJM">Weekly Timereports: Jones Moti</a>
    </li>
</ul>
<h4>------------------</h4>
<h1>Monthly Timereports</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MonthlyTimeReports" asp-action="ListMonthlyTimeReports">Monthly Timereports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MonthlyTimeReports" asp-action="ListMonthlyTimeReportsPO">Monthly Timereports: Per Orest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MonthlyTimeReports" asp-action="ListMonthlyTimeReportsJM">Monthly Timereports: Jones Moti</a>
    </li>
</ul>
<h4>------------------</h4>

<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Index">Home</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Admin">Admin</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Ticketing">Ticketing</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Accounting">Accounting</a>