
@{
    ViewData["Title"] = "Sites";
}

<h1>Sites</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sites" asp-action="ListSites">Sites</a>
    </li>
</ul>

<h1>Site roles</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteRoles" asp-action="ListSiteRoles">Site roles</a>
    </li>
</ul>

<h1>Site statuses</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteStatus" asp-action="ListSiteStatuses">Site statuses</a>
    </li>
</ul>

<h1>Site types</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteTypes" asp-action="ListSiteTypes">Site types</a>
    </li>
</ul>
<h4>------------------</h4>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Admin">Back to Admin</a>