@model NBSTimeReporting.Models.SettingModels.TicketType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTypeName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListTicketTypes">Back to Ticket Types</a>
</div>
